.home {

  .header {
    background: no-repeat center/cover url(./img/bg.png);

    &__row {
      margin-top: 100px;
    }

    &__col {
      flex-basis:auto;
      margin: 0 auto;
    }

    &__slogan {
      display: none;
    }
  }

  .search-form {
    gap: 0;

    &__main {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }
  }
}