$temp-border: 1px solid blueviolet;

.home {

  .header {
    background: no-repeat center/cover url(./img/bg.png);

    &__row {
      margin-top: 100px;
    }

    &__col {
      flex-basis:auto;
      margin: 0 auto;
    }

    &__slogan {
      display: none;
    }
  }

  .search-form {
    gap: 0;

    &__main {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }
  }

  &__main {
    display: flex;
    margin-top: 95px;
    margin-bottom: 190px;
  }

  &__sidebar {
    border: $temp-border;
    flex-basis: 360px;
  }

  &__content {
    border: $temp-border;
    flex-basis: auto;
    flex-grow: 1;
  }
}