.select-seats {

  &__header {
    color: #292929;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__content {
    border: 1px solid #c4c4c4;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba($color: #000000, $alpha: 0.25);
  }

  &__top-control {
    padding: 35px 20px;

    display: flex;
    align-items: stretch;
  }

  &__icon {
    width: 50px;
    margin-right: 20px;

    img {
      height: 100%;
    }
  }

  &__route {
    padding: 20px;
    background: #f7f6f6;

    display: flex;
    justify-content: space-between;
    gap: 5px;

    margin-bottom: 40px;
  }

  &__train-header {
    border-right: 1px solid #fff;
    padding-right: 20px;
  }

  &__train-direction {
    // flex-grow: 1;
    padding-left: 20px;
  }

  &__train-duration {
    padding-left: 35px;
    
    border-left: 1px solid #fff;
  }

  &__subtitle {
    color: #292929;
    font-size: 30px;
    font-weight: 700;

    margin: 0 20px 15px;
  }

  &__tickets {
    margin-bottom: 50px;
  }

  &__ticket-types {
    display: flex;

    & > * {
      width: 33.33%;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background: #c4c4c4;
  }

  &__coach-types {
    padding-top: 30px;
  }
}

.ticket-type {
  border: 1px solid #fff;
  transition: all 1s;

  padding: 20px 40px;

  color: #000000;

  &.active {
    background: #f7f6f6;
    border-color: #f7f6f6;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  }

  &:hover {
    border: 1px solid #ffa800;
    background: #fff;
    box-shadow: none;
  }

  &__header {
    font-size: 18px;

    border: 1px solid #928f94;
    background: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 16px;
  }
}
