$header-color: #928F94;

.train-routes {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

    color: $header-color;
  }

  &__menu {
    display: flex;
    gap: 50px;
  }

  &__sort {
    outline: none;
    border: none;
    appearance: none;
    font: inherit;
    font-weight: 700;

    :focus {
      outline: none;
    }
  }

  &__amount-toggler {
    .checked {
      color: #000;
    }
  }

  &__footer {
    margin-top: 140px;
  }
}
