.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: no-repeat center/cover url(./img/bg/header-bg.png);

  &__logo {
    background: rgba(0, 0, 0, .25);
    padding: 15px 0;
  }

  &__menu {
    background-color: #292929;
  }

  &__row {
    display: flex;
    color: #ffffff;
    margin-top: 200px;
  }

  &__col {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-shrink: 1;
  }

  &__slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 72px;
    font-weight: 100;
    line-height: 84px;

    &_bold {
      font-weight: 700;
    }
  }

  &__form {
    background: rgba(41, 41, 41, .8);
    width: 100%;
    min-width: 700px;
    height: 100%;
  }
}

.menu {
  display: flex;
  list-style: none;

  &__item {
    margin: 25px 80px 25px 0;
    color: #ffffff;
    font-weight: 100;
    font-size: 30px;
    line-height: 35px;

    a {
      color: inherit;
      text-decoration: none;
      text-wrap: nowrap;
    }
  }
}
