@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-weight: 300;
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Light.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.main {
  max-width: 1920px;
  width: 100%;
}

.header {
  height: 100vh;
  background: url(./assets/img/header-bg.png);
  background-position: center center;
  border-bottom: 8px solid #FFA800;
  width: 100%;
}